<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::Layout(~{::section})}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <title>addContact</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Add Contacts</h1>
            <div class="container-fluid mt-1">
                <div class="col-md-10 offset-md-1">
                    <form action="" th:action="@{/user/addContact}" method="post"
                          th:object="${contactDTO}" enctype="multipart/form-data" class="mt-2">
                        <!--first name-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mr-3">
                                        <i class="fas fa-user-alt"></i>
                                    </div>
                                </div>
                                <input required type="text" id="firstName" th:field="*{name}"  placeholder="Enter name here"
                                       class="form-control">

                            </div>
                            <span th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"
                                  style="color:red"></span>
                        </div>
                        <!--second name-->
                        <div class="form-group">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mr-3">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input type="text" id="secondName" th:field="*{secondname}" placeholder="Enter secondName here"
                                       class="form-control">
                            </div>
                            <span th:if="${#fields.hasErrors('secondname')}"
                                  th:errors="*{secondname}"
                                  style="color:red">
                            </span>
                        </div>
                        <!--phone number-->
                        <div class="form-group">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mr-3">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                </div>
                                <input required
                                       minlength="8"
                                       maxlength="15"
                                       type="text"
                                       id="phone"
                                       class="form-control"
                                       pattern="^(\+91|91)?[6-9][0-9]{9}$"
                                       placeholder="Enter phone number here"
                                       th:field="*{phone}"
                                       oninvalid="this.setCustomValidity('Please enter valid Indian phone number start with 9/7/6')"
                                       oninput="this.setCustomValidity('') ">
                               </div>
                                <span th:if="${#fields.hasErrors('phone')}"
                                      th:errors="*{phone}"
                                      style="color:red">
                                </span>
                        </div>

                        <!--email field-->
                        <div class="form-group">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mr-3">
                                        @
                                    </div>
                                </div>
                                <input required type="email" id="email" th:field="*{email}" placeholder="Enter email here"
                                       class="form-control">
                            </div>
                            <span th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"
                                  style="color:red">
                            </span>
                        </div>
                         <!--type of contact-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mr-3">
                                        <i class="fas fa-user-tag fa-sm"></i>
                                    </div>
                                </div>

                                <select th:field="*{category}" class="form-control">
                                    <option value=""> Select Contact Type </option>
                                    <option th:each="type : ${contactTypes}"
                                                th:value="${type}"
                                                th:text="${type.label}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <span th:if="${#fields.hasErrors('category')}"
                              th:errors="*{category}"
                              style="color:red">
                            </span>
                        <!--work field-->
                        <div class="form-group">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mr-3">
                                        <i class="fa fa-briefcase"></i>

                                    </div>
                                </div>
                                <input type="text" id="work" th:field ="*{work}" placeholder="Enter your work here"
                                       class="form-control">
                            </div>
                            <span th:if="${#fields.hasErrors('work')}"
                                  th:errors="*{work}"
                                  style="color:red">
                            </span>
                        </div>

                        <!--Contact description-->
                        <div class="form-group mt-3">
                            <textarea id="mytextarea" th:field="*{description}" placeholder="Enter contact discription"
                                      class="form-control" row="20"></textarea>
                        </div>

                        <!--Contact Image-->
                        <div class="custom-file">
                            <input type="file" name="profileImage"/>
                        </div>

                        <!--button-->
                        <div class="container text-center">
                            <button class="btn btn-outlook-secondary">Save Contact</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
					 $(document).ready(()=>{
						$(".item").removeClass("active");
						$("#add-link").addClass("active");
					 });

    </script>
</section>
</body>
</html>